header {
    background-color: #27293d;
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .cart-count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    background-color: #ff398f;
    align-items: center;
    font-size: 12px;
    position: absolute;
    justify-content: center;
    top: -10px;
    right: -39px;
}

header .cart-rightsection {
    position: relative;
}